.form-style p span {
    color: inherit; 
}
#gUMArea {
    text-align: center;
}
#btns {
    margin-left: 85px;
}
#ul audio {
    text-align: center;
    max-width: inherit;
    margin-left: 8px;
}
.edit-the-answer {
    .input-field {
        width: 515px;
        margin-right: 65px;
    }
    .add-more-media-form {
        width: 257px;
    }
}
