html {
    font-size: x-large;
}
@media (max-width: 960px) {
    html { 
        font-size: large; 
    }
}
@media (max-width: 480px) {
    html { 
        font-size: medium; 
    }
    body { 
        margin: 0 1%; 
    }
}
.typewriter {
    input {
        text-align: center;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: bold;
    }  
}
input.vowel, input.dipth, input.stress {
  /*background-color:#eee;*/
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
    font-size: 0.65rem;
    font-weight: normal;
    padding: 0px 0px 4px 0px;
    margin: 2px 0px;
}
input.vowel {
    width: 24px;
}
input.dipth {
    width: 33px;
}
input.stress {
    width: 14px;
}
input.buact {
    color: #000;
    width: 70px;
    padding: 0px;
    margin: 0px;
    /*background-color: #fff;*/
}
input.resvew {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 0.65rem; 
    margin-bottom: 1rem;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    width: 17.5rem;
    /*background-color:#fdd;*/
}
div.typewriter {
    background-color: #fff;
    // padding: 0.5em 5%;
    line-height: 1.1rem;
    text-align: center;
}
#formcontent{
	visibility:hidden;
	position:absolute;
}
