.main {
    padding: 34px 0;
}
.social-login {
    margin-top: 36px;
}
.forgot-password {
    color: inherit;
}
.invalid-feedback {
    color: red;
}
.home {
    color: #39739d; 
    text-decoration: none;
    &:hover {
        color: #3598DB;
    }
}
.tata .tata-text {
    color: white;
}
