.view-tab {
    color: #0077cc;
    border: 1px solid #379fef;
    border-radius: 3px;
    background-color: transparent;
    padding: 10px;
    &:hover {
        color: #0064bd;
        background: #f2f9ff;
    }
}
.clicked {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #379fef;
}
.link-top {
    margin-top: -33px;
}
