#btns {
    display: none;
    margin: 47px 51px;
}
#img-block {
    display: none;
    width: 90px;
    height: 76px;
}
#gif {
    height: 100%
}
#gUMbtn {
    font-weight: bold;
    height: 30px;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 25px 32px;
    width: 181px;
}
#start, #stop {
    font-weight: bold;
    font-family: "Open Sans", Arial, sans-serif;
}
#start {
    margin-left: -50px;
}
#stop {
    margin-left: 22px;
}
#record {
    display: flex;
    margin-bottom: -20px;
}
#save {
    margin-top: 20px;
    // margin-left: 10px;
}
#ul audio {
    max-width: 245px;
}
