.main {
    padding: 34px 0;
}
.signup {
    margin: 0 auto;
}
.invalid-feedback {
    color: red;
}
.signup-image {
    margin-top: 1px;
}
.signup-form {
    margin-left: 55px;
    margin-right: 28px;
}
.home {
    color: #39739d; 
    text-decoration: none;
    &:hover {
        color: #3598DB;
    }
}
