.tags {
    margin-bottom: 10px;
    margin-right: 5px;
    color: #39739d; 
    background-color: #e1ecf4; 
    border-color: #7aa7c7;
    border: 0;
	border-radius: 3px;
}
.tags:hover {
    color: #2c5777; 
    background-color: #d1e5f1; 
    border-color: transparent;
}
.collection-tag {
    margin-right: 5px;
    color: #39739d; 
    background-color: #f2f9ff; 
    border: 1px solid #379fef;
	border-radius: 3px;
    &:hover {
        color: #0064bd;
        background: #f2f9ff;
    }
}
